@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

header {
  font-family: "Rubik", sans-serif;
  color: var(--clr-black);
  line-height: 1.7;
  height: fit-content;
}

@media screen and (max-width: 1024px) {
  
}
/* =====MEDIA QUERRIES(SMALL)====== */

@media screen and (max-width: 620px) {
  
}
